Flask==3.1.2
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.46
psycopg2-binary
python-dotenv==1.2.1
Werkzeug==3.1.5
google-genai==1.63.0
google-generativeai==0.8.6
groq==1.0.0
pydantic==2.12.5
pydantic[email]
email-validator==2.2.0
pydantic-settings==2.13.0
tenacity==9.1.4
loguru==0.7.3
requests==2.32.5
httpx==0.28.1
cryptography==46.0.5
gunicorn